.user-routines-welcome {
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 68px 0px 0px 0px;
  text-align: center;
  color: #000c23;
}

.user-routines-header {
  font-family: "Karla", sans-serif;
  font-size: 64px;
  line-height: 74px;
  font-weight: 700;
  margin: 8px 0px 32px 0px;
  text-align: center;
  color: #000c23;
}

.user-routines-cards {
  display: flex;
  flex-flow: row wrap;
  padding: 0px 24px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 96px;
}

.add-routine-button {
  margin-top: 24px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #1161ff;
  text-align: center;
}

@media (max-width: 768px) {
  .user-routines-header {
    font-size: 40px;

    line-height: 54px;
    margin: 0px 0px 32px 0px;
  }
}
