.edit-activity-label {
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
}

.edit-activity-input {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 2px 0px 16px 0px;
  width: 292px;
}

.edit-activity-save-button {
  padding: 6px 24px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #001b50;
  color: #fff;
  border: none;
  display: flex;
  align-self: left;
  text-decoration: none;
  margin-right: 16px;
  width: fit-content;
}
